{* Latte template *}

{block content}
<h3>Vložení nového záznamu</h3>
{import '../components/form.latte'}
{include bootstrap4-form zooForm}
{/block}

{block scripts} 
{include parent}
{/block}

{block head}
{/block}
