{* Latte template *}
{block content}
<h3>Editace záznamu</h3>
{import '../components/form.latte'}
{include bootstrap4-form zooForm}
{/block}

{block scripts} 
{include parent}
{/block}

{block head}
{/block}
